* {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
}
:root {
  --primary-color: #f7dcbd;
  --secondary-color: #6b55a8;
  --box-shadow: #b336fe;
  --body-color: #020202;
}
body {
  background: url(/images/black_purple_white_flow.jpg);
  background-size: cover;
  color: var(--primary-color);
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "GRAD" 0;
}
.homepage-link {
  display: block;
  text-align: center;
  color: var(--box-shadow) !important;
}
.row {
  border-bottom: 2px solid white;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

small {
  color: azure;
  opacity: 40%;
}
iframe {
  border: 1px solid purple;
  border-radius: 10px;
  align-items: center;
  padding: 0 !important;
}
.other-projects {
  text-align: center;
}
a {
  color: var(--secondary-color) !important;
}
.language-switcher button {
  color: var(--primary-color) !important;
  background: none !important;
  border: 1px solid var(--primary-color) !important;
}
.technical_skills {
  color: grey;
  font-size: smaller;
}
