* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f7dcbd;
  --secondary-color: #6b55a8;
  --box-shadow: #b336fe;
  --body-color: #020202;
}
body {
  background: url(/images/black_purple_white_flow.jpg);
  background-size: cover;
  color: var(--primary-color);
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100, "GRAD" 0;
}

@media (min-width: 1600px) {
  #self-description {
    position: relative;
    bottom: 60%;
  }
  #ginelle {
    width: 390px !important;
    height: 500px !important;
    position: relative;
    left: 10%;
  }
  .langauge-class {
    position: relative;
    left: 15%;
  }
  #experience {
    position: relative;
    right: -50%;
  }
}
.navbar-logo {
  font-family: "Great Vibes", serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  color: var(--secondary-color);
  margin: 25px 10px 130px 22px;
  display: block;
  padding: 20px;
  text-decoration: none;
  border: 3px solid var(--secondary-color);
  background: var(--primary-color);
  border-radius: 10px;
}
.navbar-logo:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
  border-radius: 50%;
  transition: ease-in-out 100ms;
}
.side-nav {
  width: 130px;
  height: 100%;
  background: var(--body-color);
  position: fixed;
  top: 0;
  left: 0;
}
.nav-links {
  list-style: none;
  position: relative;
  padding-left: 20px;
}
.nav-links li {
  padding: 10px 0;
}
.nav-links li a {
  text-decoration: none;
  color: var(--primary-color);
}
.nav-links li a i {
  font-size: medium;
  margin-right: 5px;
}
.container {
  margin-left: 150px;
  max-width: 90%;
  align-items: center;
  text-align: justify;
}
#ginelle {
  position: relative;
  left: 10%;
}
#ginelle_doubek {
  font-family: "Fleur De Leah", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px;
  color: #9d75d9;
  background-image: linear-gradient(
    45deg,
    #9d75d9 25%,
    #f6ddb7 47%,
    #714fa5 27%,
    #f6ddb7 66%,
    #b388eb 25%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#job_based {
  font-family: "Fleur De Leah", serif;
  font-size: 35px;
  font-style: normal;
}

.self_description {
  max-width: 100%;
  padding-right: 20px;
  background-color: var(--body-color);
  font-size: 15px;
}

#description-container {
  margin-top: 30px;
}
#self-description {
  margin-top: 40px;
  padding-top: 50px;
}

.card-body {
  width: 430px;
  padding-top: 0% !important;
  background: var(--primary-color);
}

#education {
  position: relative;
  right: -40%;
}
.download_cv {
  text-decoration: none;
  color: var(--primary-color);
}
.timeline-area {
  margin-left: 20px;
  width: 90%;
  border-left: 2px solid #ccc;
  padding: 30px 20px 0 30px;
  background-color: var(--primary-color);
}
.job-description,
.education-description {
  background-color: #1f0725;
  padding: 10px 25px;
  font-size: 12px;
  border: 1px solid #ccc;
  line-height: 1.7;
  position: relative;
  height: 130px;
  margin-bottom: 20px;
  padding-top: 10px;
}
.job-description:before,
.education-description::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #1f0725;
  border: 3px solid black;
  position: absolute;
  top: 10px;
  left: -42px;
}
.job-description:after,
.education-description:after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent #1f0725 transparent transparent;
  border-width: 8px;
  position: absolute;
  left: -17px;
  top: 10px;
}
.job-description h3,
.education-description h3 {
  font-size: 20px;
  margin: 0;
  text-transform: uppercase;
  font-family: merienda;
}
.job-description h4,
.education-description h4 {
  font-size: 15px;
  margin: 0;
  font-family: poppins;
}

button {
  color: var(--primary-color) !important;
  background: #1f0725 !important;
  border: 1px solid var(--primary-color) !important;
}

#experience {
  width: 1000px !important;
  position: relative;
  left: 43%;
}

#education {
  width: 1000px !important;
  position: relative;
  right: 63%;
}
.photos-wrapper {
  overflow: hidden;
  display: flex;
  margin-left: 150px;
}
.imageContainer {
  display: flex;
  flex-wrap: nowrap;
  animation: scroll 20s linear infinite;
  margin-top: 50px;
}
.image_certification1,
.image_certification {
  width: 330px;
  height: 230px;
  position: relative;
  display: flex;
  margin-left: 70px;
}

.form_container {
  padding: 10px;
  background-color: #9575de;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0px 4px 30px 0px rgb(214, 109, 214);
  margin-top: 20px;
  width: 70%;
  align-items: center;
  position: relative;
  left: 20%;
}
.input_element {
  padding: 12px;
  border: 1px solid #3b1e54;
  width: 80%;
  font-size: 12px;
  border-radius: 10px;
  line-height: 15px;
  color: #3b1e54;
}
#question-request {
  text-align: center;
}
.submit_button {
  margin-left: 10px;
  background: var(--primary-color);
  color: var(--secondary-color);
  border: none;
  width: 100px;
  font-size: 12px;
  border-radius: 20px;
  padding: 10px 20px;
}
.question {
  font-size: 16px;
  background: var(--body-color);
  color: var(--primary-color);
  margin-top: 10px;
  padding: 20px;
  line-height: 1.5;
  border-left: 3px solid rgb(36, 23, 65);
  box-shadow: 0px 4px 30px 0px rgb(214, 109, 214);
  height: 160px;
  border-radius: 5px;
}
.generating {
  animation: blink-animation 1s steps(5, start) infinite;
  color: var(--primary-color);
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
.button_container,
#title_AI {
  position: relative;
  left: 5%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.divider {
  border: 1px solid #ccc;
  margin-top: 30px;
}
.langauge-class {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  line-height: 100px;
  color: #fff;
  text-align: center;
  background: #b336fe;
  margin: 15px;
}

footer a {
  font-size: 20px;
  color: var(--primary-color) !important;
  text-decoration: none;
}
footer small {
  color: var(--primary-color) !important;
}
footer {
  background: #131313;
}

.contact_icons a {
  font-size: 40px;
  display: inline-block;
  padding-inline: 20px;
}
.apps_hobbies {
  margin: 30px 0 10px 100px;
  padding: 50px;
}
.skills {
  width: 50px;
  height: 50px;
  margin-top: 10px;
}
.rotating {
  animation: rotating 10slinear infinite;
}
.hobbies i {
  color: #b336fe;
}
